{% extends 'baseAdmin.html.twig' %}

{% block page_content %}

    {% if prices|length < 4 %}
        <a class="btn btn-primary" href="{{ path("admin_price_new") }}">Ajouter un prix</a>
    {% endif %}

    <table class="table {{ prices|length < 4 ? "mt-25px" : ""}}">
        <thead>
            <tr>
                {% for item in prices %}
                    <th>{{ item.title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for item in prices %}
                    <td class="txt-left">
                        <label><span class="txt-bold">Prix :</span> {{ item.price }} €</label>
                        
                        {% if item.priceDetails|length > 0 %}
                            <div class="mt-15px">
                                <span class="txt-bold">Détails :</span>
                                <ul class="no-list-style p-0">
                                    {% for itemDetail in item.priceDetails %}
                                        <li>&minus; {{ itemDetail.label }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <div class="mt-15px">
                            <a class="btn btn-primary -inline-flex" href="{{ path("admin_price_edit", {"id": item.id}) }}">
                                <img src="{{ asset("/content/images/svg/pencil.svg") }}" alt="" />
                            </a>
                            
                            <button 
                                class="btn btn-red -inline-flex removePrice" 
                                data-url="{{ path("admin_price_remove", {"id": item.id}) }}"
                            >
                                <img src="{{ asset("/content/images/svg/trash.svg") }}" alt="" />
                            </button>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}