{% extends 'baseAdmin.html.twig' %}
{% trans_default_domain 'user' %}
{% import "./module/notification.html.twig" as moduleNotif %}

{% block page_content %}
    <div class="admin-portfolio">
        {% set url = path("admin_project_index") %}
        {% if projectID is defined %}
            {% set url = path("admin_project_show", {"id": projectID}) %}
        {% endif %}

        <a class="btn btn-primary" href="{{ url }}">{{ "return"|trans }}</a>
        
        <div class="portfolio-wrapper portfolio-add">
            {% if response != [] %}
                {{ moduleNotif.notification(response.class, response.message) }}
            {% endif %}

            {{ form_start(projectForm, {'method': 'POST', "attr": {"class": "portfolio-form"}}) }}

                {# Img #}
                <div class="form-field">
                    {{ form_label(projectForm.imgPath, "project.image"|trans) }}
                    {{ form_widget(projectForm.imgPath) }}
                </div>

                {# Title #}
                <div class="form-field">
                    {{ form_label(projectForm.name, "project.name"|trans) }}
                    {{ form_widget(projectForm.name) }}
                </div>

                {# Client name #}
                <div class="form-field">
                    {{ form_label(projectForm.clientName, "project.client"|trans) }}
                    {{ form_widget(projectForm.clientName) }}
                </div>

                {# Project start date #}
                <div class="form-field">
                    {{ form_label(projectForm.date, "project.starting_date"|trans) }}
                    {{ form_widget(projectForm.date) }}
                </div>

                {# Github URL #}
                <div class="form-field">
                    {{ form_label(projectForm.githubLink, "project.github_link"|trans) }}
                    {{ form_widget(projectForm.githubLink) }}
                </div>

                {# Go Live date #}
                <div class="form-field">
                    {{ form_label(projectForm.goLiveDate, "project.go_live_date"|trans) }}
                    {{ form_widget(projectForm.goLiveDate) }}
                </div>

                {# Prod URL #}
                <div class="form-field">
                    {{ form_label(projectForm.siteLink, "project.production_link"|trans) }}
                    {{ form_widget(projectForm.siteLink) }}
                </div>

                {# Type #}
                <div class="form-field">
                    {{ form_label(projectForm.type, "project.type"|trans) }}
                    {{ form_widget(projectForm.type) }}
                </div>

                {# Tools #}
                <div class="form-field">
                    {{ form_label(projectForm.skills, "project.tools"|trans) }}
                    {{ form_widget(projectForm.skills) }}
                </div>
                
                {# Version #}
                <div class="form-field">
                    {{ form_label(projectForm.version, "project.version"|trans) }}
                    {{ form_widget(projectForm.version) }}
                </div>
                
                {# Description #}
                <div class="form-field">
                    {{ form_label(projectForm.description, "project.description"|trans) }}
                    {{ form_widget(projectForm.description) }}
                </div>

                {# Submit button #}
                <div class="form-button">
                    {{ form_widget(projectForm.submit, {"attr": {"class": "btn btn-primary"}}) }}
                </div>
            {{ form_end(projectForm) }}
        </div>
    </div>
{% endblock %}