{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="admin-portfolio">
        <a href="{{ path("adminAddProject") }}">
            <button class="btn btn-green">Add a work</button>
        </a>

        <h1>Portfolio</h1>
        
        <div class="portfolio-wrapper">
            {% if projects != [] %}
                {% for project in projects %}
                    <a class="portfolio-card" href="{{ path("adminSingleProject", {"id": project.id}) }}">
                        <div class="portfolio-image">
                            <img src="{{ asset(project.imgPath) }}" alt="{{ project.name }}" />
                        </div>
                        <div class="portfolio-text">
                            <div class="portfolio-content">
                                <div class="title">
                                    <h2>{{ project.name }}</h2>
                                </div>
                                <div class="tools">
                                    {% for tech in project.skills %}
                                        <span>{{ tech.skill }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">
                    <span>Il n'y a aucun projet enregistré dans la database.</span>
                </div>
            {% endif %}

            {% if page >= 1 and page <= total_page %}
                <div class="pagination">
                    <div class="first-page">
                        <a href="{{ path("adminProject") }}"><img src="{{ asset("/content/images/svg/double-angle-left.svg") }}" alt={"double-angle-left"} /></a>
                    </div>
                    
                    {% if page - 1 >= 1  %}
                        <div class="previous-page">
                            <a href="{{ path("adminProjectPage", {'page': (page - 1)}) }}">{{ page - 1 }}</a>
                        </div>
                    {% endif %}

                    <div class="current-page">
                        <span>{{ page }}</span>
                    </div>
                    
                    {% if page + 1 <= total_page  %}
                        <div class="next-page">
                            <a href="{{ path("adminProjectPage", {'page': (page + 1)}) }}">{{ page + 1 }}</a>
                        </div>
                    {% endif %}
                    
                    <div class="last-page">
                        <a href="{{ path("adminProjectPage", {'page': (total_page)}) }}"><img src="{{ asset("/content/images/svg/double-angle-right.svg") }}" alt={"double-angle-right"} /></a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
