{% extends 'baseAdmin.html.twig' %}
{% trans_default_domain 'user' %}

{% block page_content %}
    <a class="btn btn-primary" href="{{ path("admin_project_index") }}">{{ "return"|trans }}</a>

    <div class="article mt-25px">
        <div class="-preview">
            <img class="w-100" src="{{ asset(file_exist(project.imgPath)) }}" alt="{{ project.name }}" />
        </div>
        <div class="-infos">
            <div class="card">
                <div class="-header">
                    <h2 class="title">{{ project.name }}</h2>
                </div>
                <div class="-content">
                    <ul class="-infos-list no-list-style">
                        {% if project.clientName != "" %}
                            <li class="-infos-item">
                                <span class="txt-bold">{{ "project.client"|trans }} :</span>
                                {{ project.clientName }}
                            </li>
                        {% endif %}

                        <li class="-infos-item">
                            <span class="txt-bold">{{ "project.created_at"|trans }} :</span>
                            {{ project.date|date("d/m/Y") }}
                        </li>

                        {% if project.githubLink != "" %}
                            <li class="-infos-item">
                                <span class="txt-bold">{{ "project.github_link"|trans }} :</span>
                                <a href="{{ project.githubLink }}" target="_blank">{{ project.name }}</a>
                            </li>
                        {% endif %}

                        {% if project.goLiveDate != "" %}
                            <li class="-infos-item">
                                <span class="txt-bold">{{ "project.go_live_date"|trans }} :</span>
                                {{ project.goLiveDate|date("d/m/Y") }}
                            </li>
                        {% endif %}

                        {% if project.siteLink != "" %}
                            <li class="-infos-item">
                                <span class="txt-bold">{{ "project.production_link"|trans }} :</span>
                                <a href="{{ project.siteLink }}" target="_blank">{{ project.name }}</a>
                            </li>
                        {% endif %}

                        <li class="-infos-item">
                            <span class="txt-bold">{{ "project.type"|trans }} :</span>
                            {{ project.type }}
                        </li>
                        
                        <li class="-infos-item">
                            <span class="txt-bold">{{ "project.tools"|trans }} :</span>
                            <ul class="badge-list mt-10px g-5px">
                                {% for item in project.skills %}
                                    <li class="badge badge-primary">{{ item.skill }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="-footer mt-10px">
                    <a href="{{ path("admin_project_edit", {"id": project.id}) }}">
                        <button class="btn btn-primary">
                            <img src="{{ asset("/content/images/svg/pencil-white.svg") }}" alt="" />
                        </button>
                    </a>
                    <a href="{{ path("admin_project_remove", {"id": project.id}) }}">
                        <button class="btn btn-red">
                            <img src="{{ asset("/content/images/svg/trash-white.svg") }}" alt="" />
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-15px">
        <h3>{{ "project.description"|trans }}</h3>
        <div class="m-0 p-0">
            <p>{{ project.description|raw }}</p>
        </div>
    </div>
{% endblock %}