{% extends 'baseAdmin.html.twig' %}

{% block page_content %}
    <div class="admin-portfolio">
        <a href="{{ path("admin_project_index") }}">
            <button class="btn btn-primary">
                <span>Return</span>
            </button>
        </a>

        <div class="portfolio-wrapper portfolio-single">
            <h1>{{ project.name }}</h1>

            <div class="single-folio">
                <div class="introduction">
                    <div class="hero">
                        <img src="{{ asset(project.imgPath) }}" alt="{{ project.name }}" />
                    </div>
                    <div class="banner">
                        <div class="project-infos">
                            <h2 class="title">{{ project.name }}</h2>

                            <div class="infos">
                                <ul>
                                    <li><span>Client :</span> {% if project.clientName != "" %}{{ project.clientName }}{% else %}N/A{% endif %}</li>
                                    <li><span>Project date :</span> {{ project.createdAt|date("d M Y") }}</li>
                                    <li><span>Project url :</span> 
                                        {% if project.siteLink != "" %}
                                            <a href="{{ project.siteLink }}" target="_blank">{{ project.name }}</a>
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </li>
                                    <li><span>GitHub url :</span> <a href="{{ project.gitHubLink }}" target="_blank">{{ project.name }}</a></li>
                                    <li><span>Type :</span> {{ project.type }}</li>
                                    <li><span>Outils :</span> {{ skills|join(", ") }}</li>
                                </ul>
                            </div>

                            <div class="actions">
                                <a href="{{ path("admin_project_edit", {"id": project.id}) }}">
                                    <button class="btn btn-primary">
                                        <img src="{{ asset("/content/images/svg/pencil-white.svg") }}" alt="" />
                                    </button>
                                </a>
                                <a href="{{ path("admin_project_remove", {"id": project.id}) }}">
                                    <button class="btn btn-red">
                                        <img src="{{ asset("/content/images/svg/trash-white.svg") }}" alt="" />
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="details">
                    <h2>Details</h2>
                    <p>{{ project.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}