<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Email</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, maximum-scale=1">
        <style>
            html, body {
                margin: 0;
                padding: 0;
                min-height: 100vh;
                background-color: #e8e8e8;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            }

            .c-grey {
                color: #999999;
            }

            .txt-bold {
                font-weight: 700;
            }
            
            .card {
                max-width: 700px;
                margin: auto;
                padding: 6% 0;
            }

            .-header {
                height: 125px;
                background-color: #2b81e0;
            }

            .-content {
                padding: 50px;
                background-color: #ffffff;
            }

            .-footer {
                width: 100%;
                color: #ffffff;
                padding: 30px 0;
                background-color: #2b81e0;
            }

            .-footer-wrapper {
                gap: 10px;
                height: 100%;
                display: flex;
                margin: 0 50px;
            }

            .-infos {
                flex: 1;
            }

            .links {
                width: 300px;
            }

            .-social-link-list {
                gap: 10px;
                margin: auto;
                display: flex;
            }

            .-social-link {
                width: 25px;
                display: flex;
            }

            .-social-link img {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="card">
                <div class="-header"></div>
                <div class="-content">
                    <h3 class="-object">Vous avez reçu un nouveau message</h3>
                    <div class="-message">
                        <p>
                            Un message vous a été envoyer depuis le formulaire de contact du nom de domaine <em>{{ app.request.getSchemeAndHttpHost() }}</em>.<br/><br/>
                            Voici ce qu'il vous dit :
                        </p>

                        <p class="sender-email txt-bold">Expéditeur : {{ sender }}</p>
                        <p class="sender-message">{{ content|raw }}</p>
                    </div>
                </div>
                <div class="-footer">
                    <div class="-footer-wrapper">
                        <div class="-infos"></div>
                        <div class="links">
                            <div class="-social-link-list">
                                <a class="-social-link" href="https://www.malt.fr/profile/garryalmeida" target="_blank">
                                    <img src="{{ asset("/content/images/svg/malt.svg") }}" alt="malt" />
                                </a>
                                
                                <a class="-social-link" href="https://app.comet.co/freelancer/profile/QBeXlKveyK?params=eyJhbm9ueW1pemUiOmZhbHNlLCJkZXNpZ25Nb2RlIjpmYWxzZSwicmVhZE9ubHkiOnRydWV9" target="_blank">
                                    <img src="{{ asset("/content/images/svg/comet.svg") }}" alt="comet" />
                                </a>
                                
                                <a class="-social-link" href="https://www.linkedin.com/in/garry-almeida-7538b3175/" target="_blank">
                                    <img src="{{ asset("/content/images/svg/linkedin.svg") }}" alt="linkedin" />
                                </a>
                                
                                <a class="-social-link" href="https://github.com/GaryDelgadoDeAlmeida" target="_blank">
                                    <img src="{{ asset("/content/images/svg/github.svg") }}" alt="github" />
                                </a>
                            </div>
                            <p>Copyright &copy; {{ "now"|date("Y") }} &minus; All right reserved</p>
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="c-grey">
                        Ceci est un message envoyé depuis l'adresse "no-reply@garry-almeida.com".<br/>
                        Merci de ne pas répondre à ce mail car vous ne recevrez aucune réponse.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>