{% extends 'baseAdmin.html.twig' %}
{% trans_default_domain 'user' %}

{% block page_content %}
    <a class="btn btn-green" href="{{ path("admin_witness_new") }}">{{ "witness.add_witness"|trans }}</a>

    <div class="mt-25px">
        <table>
            <thead>
                <tr>
                    <th class="column-company">{{ "witness.society"|trans }}</th>
                    <th class="column-contact">{{ "witness.fullname"|trans }}</th>
                    <th class="column-comment">{{ "witness.comment"|trans }}</th>
                    <th class="column-action"></th>
                </tr>
            </thead>
            <tbody>
                {% for witness in witnesses %}
                    <tr class="witness-item">
                        <td class="-company">{{ witness.company }}</td>
                        <td class="-contact">{{ witness.getFullName() }}</td>
                        <td class="-comment">{{ witness.comment|slice(0, 80) }} ...</td>
                        <td class="-action">
                            <a href="{{ path("admin_witness_edit", {"id": witness.id}) }}">
                                <img src="{{ asset("/content/images/svg/eye.svg") }}" alt="pencil" />
                            </a>
                            <button id="removeWitness" data-url="{{ path("admin_witness_remove", {"id": witness.id}) }}">
                                <img src="{{ asset("/content/images/svg/close-red.svg") }}" alt="close-icon" />
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">{{ "witness.no_witness"|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if offset >= 1 and offset < nbrOffsets %}
            <div class="pagination">
                {% if offset - 1 >= 1 %}
                    <div class="first-page">
                        <a href="{{ path("admin_witness_index") }}"><img src="{{ asset("/content/images/svg/double-angle-left.svg") }}" alt="double-angle-left" /></a>
                    </div>
                    
                    <div class="previous-page">
                        <a href="{{ path("admin_witness_index_by_page", {'page': offset - 1}) }}"><img src="{{ asset("/content/images/svg/angle-left.svg") }}" alt="angle-left" /></a>
                    </div>
                
                    <div class="previous-page">
                        <a href="{{ path("admin_witness_index_by_page", {'page': offset - 1}) }}">{{ offset - 1 }}</a>
                    </div>
                {% endif %}

                <div class="current-page">
                    <span>{{ offset }}</span>
                </div>
                
                {% if offset + 1 <= nbrOffsets %}
                    <div class="next-page">
                        <a href="{{ path("admin_witness_index_by_page", {'page': offset + 1}) }}">{{ offset + 1 }}</a>
                    </div>
                    
                    <div class="next-page">
                        <a href="{{ path("admin_witness_index_by_page", {'page': offset + 1}) }}"><img src="{{ asset("/content/images/svg/angle-right.svg") }}" alt="angle-right" /></a>
                    </div>
                    
                    <div class="last-page">
                        <a href="{{ path("admin_witness_index_by_page", {'page': nbrOffsets}) }}"><img src="{{ asset("/content/images/svg/double-angle-right.svg") }}" alt="double-angle-right" /></a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}