{% extends 'baseAdmin.html.twig' %}

{% block page_content %}
    <div class="admin-home">

        {# Resume #}
        <div class="admin-cards">
            <div class="admin-card">
                <h4 class="admin-card-suptitle">Visitors</h4>
                <span>{{ nbrVisitors }}</span>
            </div>

            <div class="admin-card">
                <h4 class="admin-card-suptitle">Works realised</h4>
                <span>{{ nbrProjects }}</span>
            </div>

            <div class="admin-card">
                <h4 class="admin-card-suptitle">Professional experience</h4>
                <span>{{ workExp|number_format(2, ",", " ") }} years</span>
            </div>
        </div>

        {# Lasted activity #}
        <div class="admin-lasted">
            <h2 class="admin-lasted-title">Lasted activity</h2>

            <div class="admin-tables">

                {# Latest Works #}
                <div class="admin-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Work</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in latestWork %}
                                <tr>
                                    <td>
                                        <div class="f-left">{{ item.name }}</div>
                                        <div class="f-right">{{ item.createdAt|date("d/m/Y") }}</div>
                                    </td>
                                </tr>
                            {% else %} 
                                <tr>
                                    <td class="txt-center">There is no realised work</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {# Latest Experience #}
                <div class="admin-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Experience</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in latestExp %}
                                <tr>
                                    <td>
                                        <div class="f-left">{{ item.corporationName }}</div>
                                        <div class="f-right">{{ item.startDate|date("M Y") }} &minus; {{ item.inProgress ? "En cours" : item.endDate|date("M Y") }}</div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="txt-center">There is no professional experiences</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {# Lasted work experience #}
        <div class="admin-lasted">
            <h2 class="admin-lasted-title">Lasted mails</h2>

            <div class="admin-tables">

                {# Latest Emails #}
                <div class="admin-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in latestEmail %}
                                <tr>
                                    <td>
                                        <div class="f-left">{{ item.senderFullName }}</div>
                                        <div class="f-right">{{ item.createdAt|date("d/m/Y") }}</div>
                                    </td>
                                </tr>
                            {% else %} 
                                <tr>
                                    <td class="txt-center">There is no emails</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}