{% extends 'baseAdmin.html.twig' %}

{% block body %}
<div class="container">
    
    {% if message != null %}
        <div class="{{ message.class }}">
            <span>{{ message.content }}</span>
        </div>
    {% endif %}
    
    {{ form_start(form_edit_education, {"method":"POST"}) }}
        <div class="row">
            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                {{ form_label(form_edit_education.name) }}
                {{ form_widget(form_edit_education.name) }}
            </div>
            <div class="form-group col-md-6 col-lg-6 wow fadeInUp animated">
                {{ form_label(form_edit_education.startDate) }}
                {{ form_widget(form_edit_education.startDate) }}
            </div>
            <div class="form-group col-md-6 col-lg-6 wow fadeInUp animated">
                {{ form_label(form_edit_education.endDate) }}
                {{ form_widget(form_edit_education.endDate) }}
            </div>
            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                {{ form_widget(form_edit_education.inProgress) }}
            </div>
            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                {{ form_label(form_edit_education.corporationName) }}
                {{ form_widget(form_edit_education.corporationName) }}
            </div>
            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                {{ form_label(form_edit_education.description) }}
                {{ form_widget(form_edit_education.description) }}
            </div>
            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                {{ form_label(form_edit_education.category) }}
                {{ form_widget(form_edit_education.category) }}
            </div>
        </div>
    {{ form_end(form_edit_education, {"method":"POST"}) }}
</div>
{% endblock %}