{% extends 'baseAdmin.html.twig' %}
{% import "./module/notification.html.twig" as moduleNotif %}

{% block page_content %}
    <div class="admin-experience">
        <div class="experience-wrapper">
            <a href="{{ path("adminEducation") }}">
                <button class="btn btn-primary">Return</button>
            </a>

            <div class="experience-add">
                {% if response != null %}
                    {{ moduleNotif.notification(response.class, response.message) }}
                    <div>&nbsp;</div>
                {% endif %}

                {{ form_errors(form) }}

                {{ form_start(form, {"method": "POST", "attr": {"class": "experience-form"}}) }}
                    <div class="form-field">
                        {{ form_label(form.category) }}
                        {{ form_widget(form.category) }}
                    </div>

                    <div class="form-field">
                        {{ form_label(form.corporationName) }}
                        {{ form_widget(form.corporationName) }}
                    </div>

                    <div class="form-field">
                        {{ form_label(form.corporationSite) }}
                        {{ form_widget(form.corporationSite) }}
                    </div>

                    <div class="form-field">
                        {{ form_label(form.contractType) }}
                        {{ form_widget(form.contractType) }}
                    </div>

                    <div class="form-field">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>

                    <div class="form-field">
                        {{ form_label(form.startDate) }}
                        {{ form_widget(form.startDate) }}
                    </div>

                    <div class="form-field">
                        {{ form_label(form.endDate) }}
                        {{ form_widget(form.endDate) }}
                    </div>

                    <div class="form-radio">
                        {{ form_widget(form.inProgress) }}
                        {{ form_label(form.inProgress) }}
                    </div>

                    <div class="form-field">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                    </div>

                    <div class="form-field">
                        {{ form_label(form.skills) }}
                        {{ form_widget(form.skills) }}
                    </div>

                    <div class="form-field">
                        <ul class="participateProjects-tags" data-prototype="{{ form_widget(form.participateProjects.vars.prototype)|e }}">
                            {% for participateProjects in form.participateProjects %}
                                <li class="item">
                                    <div class="form-field">
                                        {{ form_row(participateProjects.link) }}
                                    </div>
                                    <div class="form-field">
                                        {{ form_row(participateProjects.title) }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="form-button">
                        {{ form_widget(form.submit, {"attr": {"class": "btn btn-primary"}}) }}
                    </div>

                    {{ form_rest(form) }}
                {{ form_end(form, {"method":"POST"}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="module" src="{{ asset("assets/js/admin/project.js") }}"></script>
{% endblock %}