{% extends 'baseAdmin.html.twig' %}
{% trans_default_domain 'user' %}
{% import "./module/notification.html.twig" as moduleNotif %}

{% block page_content %}
    <div class="admin-experience">
        <div class="experience-wrapper">
            <a href="{{ path("admin_education_index") }}">
                <button class="btn btn-primary">{{ "return"|trans }}</button>
            </a>

            <div class="experience-add card">
                <div class="-content">
                    {% if response != null %}
                        {{ moduleNotif.notification(response.class, response.message) }}
                    {% endif %}

                    {{ form_errors(form) }}

                    {{ form_start(form, {"method": "POST", "attr": {"class": "experience-form"}}) }}
                        <div class="form-field">
                            {{ form_label(form.category, "education.category"|trans) }}
                            {{ form_widget(form.category) }}
                        </div>

                        <div class="form-field">
                            {{ form_label(form.corporationName, "education.structure"|trans) }}
                            {{ form_widget(form.corporationName) }}
                        </div>

                        <div class="form-field">
                            {{ form_label(form.corporationSite, "education.structure_address"|trans) }}
                            {{ form_widget(form.corporationSite) }}
                        </div>

                        <div class="form-field">
                            {{ form_label(form.contractType, "education.contract_type"|trans) }}
                            {{ form_widget(form.contractType) }}
                        </div>

                        <div class="form-field">
                            {{ form_label(form.name, "education.job_name"|trans) }}
                            {{ form_widget(form.name) }}
                        </div>

                        <div class="form-field-inline">
                            <div class="form-field w-33">
                                {{ form_label(form.startDate, "education.start_date"|trans) }}
                                {{ form_widget(form.startDate) }}
                            </div>

                            <div class="form-field w-33">
                                {{ form_label(form.endDate, "education.end_date"|trans) }}
                                {{ form_widget(form.endDate) }}
                            </div>

                            <div class="form-radio w-33">
                                {{ form_widget(form.inProgress) }}
                                {{ form_label(form.inProgress, "education.in_progress"|trans, {"attr": {"class": "txt-bold"}}) }}
                            </div>
                        </div>

                        <div class="form-field">
                            {{ form_label(form.description, "education.description"|trans) }}
                            {{ form_widget(form.description) }}
                        </div>

                        <div class="form-field">
                            {{ form_label(form.skills, "education.skills"|trans) }}
                            {{ form_widget(form.skills) }}
                        </div>

                        <div class="form-field">
                            <ul class="participateProjects-tags form-tag" data-prototype="{{ form_widget(form.participateProjects.vars.prototype)|e }}">
                                {% for participateProjects in form.participateProjects %}
                                    <li class="item">
                                        <div class="form-field">
                                            {{ form_label(participateProjects.link) }}
                                            {{ form_widget(participateProjects.link) }}
                                        </div>
                                        <div class="form-field">
                                            {{ form_label(participateProjects.title) }}
                                            {{ form_widget(participateProjects.title) }}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="form-button">
                            {{ form_widget(form.submit, {"attr": {"class": "btn btn-primary"}}) }}
                        </div>

                        {{ form_rest(form) }}
                    {{ form_end(form, {"method":"POST"}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="module" src="{{ asset("assets/js/admin/project.js") }}"></script>
{% endblock %}