{% extends 'baseAdmin.html.twig' %}

{% block body %}

{# Expérience Pro #}
<table class="table table-education">
    <thead>
        <tr class="text-center">
            <th>Organization Name</th>
            <th>Title</th>
            <th class="displayNoneColumn-lvl-1">Date / Status</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        {% if educations != [] %}
            {% for education in educations %}
                {% set status = (education.inProgress == true) ? "En Cours" : education.endDate|date("Y/m") %}
                <tr class="text-center">
                    <td>{{ education.corporationName }}</td>
                    <td>{{ education.name }}</td>
                    <td class="displayNoneColumn-lvl-1">{{ education.startDate|date("Y/m") }} - {{ status }}</td>
                    <td><a href="{{ path('adminEditEducation', {'id': education.id}) }}"><i class="far fa-edit"></i></a></td>
                    <td><a href="{{ path('adminDeleteEducation', {'id': education.id}) }}"><i class="far fa-trash-alt"></i></a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="text-center">
                <td colspan="3">
                    <span>Il n'y a aucunes formations ou expériences professionnelles enregistré dans la database.</span>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}