{% block pagination %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if offset == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{ path("portfolio") }}" tabindex="-1" aria-disabled="true">First</a>
            </li>
            
            {% if offset - 1 >= 1  %}
                <li class="page-item"><a class="page-link" href="{{ path("portfolioPage", {'page': (offset - 1)}) }}">{{ offset - 1 }}</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" >{{ offset }}</a></li>

            {% if offset + 1 <= total_page  %}
                <li class="page-item"><a class="page-link" href="{{ path("portfolioPage", {'page': (offset + 1)}) }}">{{ offset + 1 }}</a></li>
            {% endif %}

            <li class="page-item {% if offset == total_page %} disabled {% endif %}">
                <a class="page-link" href="{{ path("portfolioPage", {'page': (total_page)}) }}">Last</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{# <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav> #}