{% extends 'base.html.twig' %}

{% block body %}
    <section class="admin-section">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="sidebar-header-logo">
                    <img src="{{ asset("/content/images/logo-blue.png") }}" alt="" />
                </div>
            </div>

            <div class="sidebar-menu">
                <div class="sidebar-menu-wrapper">
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminHome") }}">Home</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminProfile") }}">Profile</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminSkills") }}">Skills</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminProject") }}">Portfolio</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminEducation") }}">Experiences</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminWitnesses") }}">Witnesses</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminServicePrice") }}">Prices</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminContact") }}">Inbox</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminLogout") }}">Logout</a></span>
                    </li>
                </div>
            </div>
        </div>

        <div class="admin-content">
            <div class="admin-header">
                <div class="admin-horizontal-header">
                    <input id="dropdown-menu-input" type="checkbox" hidden />

                    <label class="burger-menu-btn" for="dropdown-menu-input">
                        <img src="{{ asset("/content/images/svg/bars.svg") }}" alt="" />
                    </label>
                    
                    <div class="horizontal-header-dropdown">
                        <label class="close-menu-btn" for="dropdown-menu-input">
                            <img src="{{ asset("/content/images/svg/close.svg") }}" alt="" />
                        </label>

                        <ul class="-items">
                            <li class="-item"><a href="{{ path("adminHome") }}">Home</a></li>
                            <li class="-item"><a href="{{ path("adminProfile") }}">Profile</a></li>
                            <li class="-item"><a href="{{ path("adminSkills") }}">Skills</a></li>
                            <li class="-item"><a href="{{ path("adminProject") }}">Portfolio</a></li>
                            <li class="-item"><a href="{{ path("adminEducation") }}">Experiences</a></li>
                            <li class="-item"><a href="{{ path("adminWitnesses") }}">Witnesses</a></li>
                            <li class="-item"><a href="{{ path("adminServicePrice") }}">Prices</a></li>
                            <li class="-item"><a href="{{ path("adminContact") }}">Inbox</a></li>
                            <li class="-item">
                                <a class="btn btn-red" href="{{ path("adminLogout") }}">
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="admin-wrapper">
                <div class="admin-body">
                    {% block page_content %}{% endblock %}
                </div>
            </div>
        
            <div class="admin-footer">
                <div class="footer-copyright">
                    <p>
                        Copyright &copy; 2019-{{ "now"|date("Y") }} &minus; <a class="bold-green" href="{{ path("home") }}">Garry ALMEIDA</a><br/>
                        All Rights Reserved / Tous Droits Réservés
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}