{% extends 'base.html.twig' %}

{% block stylesheets %}
{# CSS File #}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/admin_style.css') }}">

{# Bootstrap CSS File #}
<link rel="stylesheet" type="text/css" href="{{ asset('library/bootstrap/css/bootstrap.min.css') }}">

{# Font-Awesome File #}
<link rel="stylesheet" type="text/css" href="{{ asset('library/font-awesome/css/all.min.css') }}">

{# Animate File #}
<link rel="stylesheet" type="text/css" href="{{ asset('library/animate/animate.css') }}">
{% endblock %}


{% block header %}
<div class="header">
    <a href="#" class="nav-trigger"><span></span></a>
</div>

<div class="side-nav">
    <nav>
        <ul>
            <li><a href="{{ path('admin') }}"><span><i class="fas fa-home"></i></span><span>Home</span></li>
            <li><a href="{{ path('adminAbout') }}"><span><i class="fa fa-user"></i></span><span>User</span></a></li>
            <li><a href="{{ path('adminProject') }}"><span><i class="fas fa-code"></i></span><span>Work</span></a></li>
        </ul>
    </nav>
</div>
{% endblock %}


{% block footer %}{% endblock %}


{% block javascript %}
{# JavaScript File #}
<script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/popper.min.js') }}"></script>

{# Boostrap JS File #}
<script type="text/javascript" src="{{ asset('library/bootstrap/js/bootstrap.min.js') }}"></script>

{# Wow File #}
<script type="text/javascript" src="{{ asset('library/wow/wow.min.js') }}"></script>

{# Alertify JS File #}
<script type="text/javascript" src="{{ asset('library/alertifyjs/alertify.min.js') }}"></script>
{% endblock %}