{% extends 'base.html.twig' %}

{% block stylesheets %}
{# CSS File #}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/admin_style.css') }}">

{# Bootstrap CSS File #}
<link rel="stylesheet" type="text/css" href="{{ asset('library/bootstrap/css/bootstrap.min.css') }}">

{# Font-Awesome File #}
<link rel="stylesheet" type="text/css" href="{{ asset('library/font-awesome/css/all.min.css') }}">

{# Animate File #}
<link rel="stylesheet" type="text/css" href="{{ asset('library/animate/animate.css') }}">
{% endblock %}


{% block header %}
<section class="wrapper">
    <div class="side-nav">
        <h2>Dashboard</h2>
        <ul>
            <li><a href="{{ path('admin') }}"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="{{ path('adminAbout') }}"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="{{ path('adminProject') }}"><i class="fas fa-project-diagram"></i>Work</a></li>
            <li><a href="{{ path('adminNews') }}"><i class="far fa-newspaper"></i>News</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blog</a></li>
            <li><a href="{{ path('adminLogout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        </ul>

        <div class="social_media">
            <a href="https://www.linkedin.com/in/garry-almeida-7538b3175/" target="__blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/GaryDelgadoDeAlmeida" target="__blank"><i class="fab fa-github"></i></a>
        </div>
    </div>

    <div class="main-content">
        <div class="header">Welcome, Garry Almeida !!</div>
        <div class="info">
    </div>
</section>
{% endblock %}


{% block footer %}
</div>
{% endblock %}


{% block javascript %}
{# JavaScript File #}
<script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/popper.min.js') }}"></script>

{# Boostrap JS File #}
<script type="text/javascript" src="{{ asset('library/bootstrap/js/bootstrap.min.js') }}"></script>

{# Wow File #}
<script type="text/javascript" src="{{ asset('library/wow/wow.min.js') }}"></script>

{# Alertify JS File #}
<script type="text/javascript" src="{{ asset('library/alertifyjs/alertify.min.js') }}"></script>
{% endblock %}