{% extends 'base.html.twig' %}

{# CSS File #}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/build/css/index.css') }}">
{% endblock %}


{% block header %}
    <section class="admin-section">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="sidebar-header-logo">
                    <img src="{{ asset("/content/images/logo-blue.png") }}" alt="" />
                </div>
            </div>

            <div class="sidebar-menu">
                <div class="sidebar-menu-wrapper">
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminHome") }}">Home</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminProfile") }}">Profile</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="/admin/skills">Skills</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminProject") }}">Portfolio</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="/admin/experiences">Experiences</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminContact") }}">Inbox</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("adminLogout") }}">Logout</a></span>
                    </li>
                </div>
            </div>
        </div>

        <div class="admin-content">
            <div class="admin-header"></div>
            
            <div class="admin-wrapper">
                <div class="admin-body">
{% endblock %}

{% block footer %}
            </div>
        </div>
        
        <div class="admin-footer">
            <div class="footer-copyright">
                <p>
                    Copyright &copy; 2019-{{ "now"|date("Y") }} &minus; <a class="bold-green" href="{{ path("home") }}">Garry ALMEIDA</a><br/>
                    All Rights Reserved / Tous Droits Réservés
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}