{% extends 'base.html.twig' %}

{% block stylesheets %}
{# Bootstrap CSS File #}
<link rel="stylesheet" type="text/css" href="{{ asset('library/bootstrap/css/bootstrap.min.css') }}">

{# Font-Awesome File #}
<link rel="stylesheet" type="text/css" href="{{ asset('library/font-awesome/css/all.min.css') }}">

{# Animate File #}
<link rel="stylesheet" type="text/css" href="{{ asset('library/animate/animate.css') }}">

{# CSS File #}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/admin_style.css') }}">
{% endblock %}


{% block header %}
<app>
    <section class="sidebar">
        <div class="top-row pl-4 navbar navbar-dark">
            <a class="navbar-brand" href="">Dashboard</a>
            <button class="navbar-toggler" id="btnToggler">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="navToggler collapse animated wow fadeIn" id="navToggler">
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <a class="nav-link" href="{{ path('adminHome') }}">
                        <span class="oi" aria-hidden="true"><i class="fas fa-home"></i></span> Home
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="{{ path('adminAbout') }}">
                        <span class="oi" aria-hidden="true"><i class="fas fa-user"></i></span> Profile
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="{{ path('adminProject') }}">
                        <span class="oi" aria-hidden="true"><i class="fas fa-tools"></i></span> Work
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="{{ path('adminNews') }}">
                        <span class="oi" aria-hidden="true"><i class="fas fa-newspaper"></i></span> News
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="#">
                        <span class="oi" aria-hidden="true"><i class="fas fa-blog"></i></span> Blog
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="{{ path('adminLogout') }}">
                        <span class="oi" aria-hidden="true"><i class="fas fa-sign-out-alt"></i></span> Logout
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <div class="main">
        <div class="top-row px-4">
            {# <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> #}
        </div>

        <div class="content px-4">
{% endblock %}

{% block footer %}
        </div>
    </div>
</app>
{% endblock %}

{% block javascript %}
{# JavaScript File #}
<script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>

{# Boostrap JS File #}
<script type="text/javascript" src="{{ asset('library/bootstrap/js/bootstrap.min.js') }}"></script>

{# Wow File #}
<script type="text/javascript" src="{{ asset('library/wow/wow.min.js') }}"></script>

{# Alertify JS File #}
<script type="text/javascript" src="{{ asset('library/alertifyjs/alertify.min.js') }}"></script>
{% endblock %}