{% extends 'base.html.twig' %}

{% block body %}
    <section class="admin-section">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="sidebar-header-logo">
                    <img src="{{ asset("/content/images/logo-blue.png") }}" alt="" />
                </div>
            </div>

            <div class="sidebar-menu">
                <div class="sidebar-menu-wrapper">
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("admin_home") }}">Home</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("admin_profile_index") }}">Profile</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("admin_service_index") }}">Service</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("admin_skill_index") }}">Skills</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("admin_project_index") }}">Portfolio</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("admin_education_index") }}">Experiences</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("admin_witness_index") }}">Witnesses</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("admin_price_index") }}">Prices</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("admin_contact_index") }}">Inbox</a></span>
                    </li>
                    <li class="sidebar-menu-link">
                        <span><a href="{{ path("admin_logout") }}">Logout</a></span>
                    </li>
                </div>
            </div>
        </div>

        <div class="admin-content">
            <div class="admin-header">
                <div class="admin-horizontal-header">
                    <input id="dropdown-menu-input" type="checkbox" hidden />

                    <label class="burger-menu-btn" for="dropdown-menu-input">
                        <img src="{{ asset("/content/images/svg/bars.svg") }}" alt="" />
                    </label>
                    
                    <div class="horizontal-header-dropdown">
                        <label class="close-menu-btn" for="dropdown-menu-input">
                            <img src="{{ asset("/content/images/svg/close.svg") }}" alt="" />
                        </label>

                        <ul class="-items">
                            <li class="-item"><a href="{{ path("admin_home") }}">Home</a></li>
                            <li class="-item"><a href="{{ path("admin_profile_index") }}">Profile</a></li>
                            <li class="-item"><a href="{{ path("admin_service_index") }}">Service</a></li>
                            <li class="-item"><a href="{{ path("admin_skill_index") }}">Skills</a></li>
                            <li class="-item"><a href="{{ path("admin_project_index") }}">Portfolio</a></li>
                            <li class="-item"><a href="{{ path("admin_education_index") }}">Experiences</a></li>
                            <li class="-item"><a href="{{ path("admin_witness_index") }}">Witnesses</a></li>
                            <li class="-item"><a href="{{ path("admin_price_index") }}">Prices</a></li>
                            <li class="-item"><a href="{{ path("admin_contact_index") }}">Inbox</a></li>
                            <li class="-item">
                                <a class="btn btn-red" href="{{ path("admin_logout") }}">
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="admin-wrapper">
                <div class="admin-body">
                    {% block page_content %}{% endblock %}
                </div>
            </div>
        
            <div class="admin-footer">
                <div class="footer-copyright">
                    <p>
                        Copyright &copy; 2019-{{ "now"|date("Y") }} &minus; <a class="bold-green" href="{{ path("home") }}">Garry ALMEIDA</a><br/>
                        All Rights Reserved / Tous Droits Réservés
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script type="module" src="{{ asset("assets/js/admin.js") }}"></script>
{% endblock %}