{% extends 'base.html.twig' %}

{% block body %}
    <header class="header-navigation bg-black">
        <nav class="header-menu">
            <div class="header-menu-brand">
                <a href="{{ path("home") }}">Garry ALMEIDA</a>
            </div>
            <div class="header-menu-links">
                <ul>
                    <a href="{{ path("home") }}">Accueil</a>
                    <a href="{{ path("home") }}#services">Services</a>
                    <a href="{{ path("home") }}#skills">Compétences</a>
                    <a href="{{ path("home") }}#formation">Expériences</a>
                    <a href="{{ path("home") }}#portfolio">PortFolio</a>
                    <a href="{{ path("home") }}#price">Tarifs</a>
                    <a href="{{ path("home") }}#contactme">Contact</a>
                    <a class="login" href="{{ path("login") }}">
                        <button class="btn btn-red">Login</button>
                    </a>
                </ul>
            </div>

            <div class="header-menu-mobile">
                <label for="burger-menu" class="show-menu-btn">
                    <img src="{{ asset("/content/images/svg/bars.svg") }}" alt="" />
                </label>
                
                <input id="burger-menu" class="burger-menu" type="checkbox" name="burger-menu" />
                
                <div class="header-menu-links-mobile">
                    <label for="burger-menu" class="hide-menu-btn">
                        <img src="{{ asset("/content/images/svg/close.svg") }}" alt="" />
                    </label>
                    
                    <div class="links-mobile-items">
                        <ul>
                            <li><a href="{{ path("home") }}">Accueil</a></li>
                            <li><a href="{{ path("home") }}#services">Services</a></li>
                            <li><a href="{{ path("home") }}#skills">Compétences</a></li>
                            <li><a href="{{ path("home") }}#formation">Expériences</a></li>
                            <li><a href="{{ path("home") }}#portfolio">PortFolio</a></li>
                            <li><a href="{{ path("home") }}#price">Tarifs</a></li>
                            <li><a href="{{ path("home") }}#contactme">Contact</a></li>
                            <li><a href="{{ path("login") }}">
                                <button class="btn btn-red">Login</button>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="page-content">
        {% block page_content %}{% endblock %}
    </div>
    
    <footer class="footer bg-black">
        <div class="copyright">
            <p>
                Copyright &copy; 2019-{{ "now"|date("Y") }} &minus; <a class="bold-green" href="{{ path('home') }}">Garry ALMEIDA</a><br>
                All Rights Reserved / Tous Droits Réservés
            </p>
        </div>
    </footer>
{% endblock %}

{% block javascript %}
    <script type="module" src="{{ asset("assets/js/user.js") }}"></script>
{% endblock %}