{% extends 'baseUser.html.twig' %}

{% block page_content %}

<section class="about">

    {# Profile #}
    <section class="aboutMe-intro">
        <div class="wrapper">
            <div class="intro">
                <div class="aboutMe-intro-img txt-center">
                    <img onContextMenu="return false;" src="{{ asset(file_exist(user.imgPath, "/content/profile/avatar.png")) }}" alt="{{ user.firstname }} {{ user.lastname }}" />
                </div>
                <div class="aboutMe-intro-intro">
                    <span>Salut, mon nom est</span>
                    <h2>{{ user.firstname }} {{ user.lastname }}</h2>
                    <p>{{ user.description }}</p>
                    <div class="aboutMe-intro-intro-button">
                        <a href="{{ path("contactme") }}"><button class="btn btn-outline-white btn-rounded">Contactez-moi !</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Service #}
    <section class="aboutMe-services"></section>

    {# Skills #}
    <section class="aboutMe-skills">
        <div class="wrapper">
            <header class="section-header">
                <h3>Compétences</h3>
            </header>

            <div class="skills-content">

                {# FrontEnd Skills #}
                {% if frontend != [] %}
                    <div class="skills-card bg-white">
                        <div class="logo">
                            <img src="{{ asset("/content/images/svg/code-white.svg") }}" alt="" />
                        </div>

                        <div class="skills">
                            <h5 class="title txt-center">Frontend</h5>

                            <ul>
                                {% for itemF in frontend %}
                                    <li><i class="fas fa-check"></i><span>{{ itemF.skill }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {# BackEnd Skills #}
                {% if backend != [] %}
                    <div class="skills-card bg-white">
                        <div class="logo">
                            <img src="{{ asset("/content/images/svg/database.svg") }}" alt="" />
                        </div>

                        <div class="skills">
                            <h5 class="title txt-center">Backend</h5>
                            <ul>
                                {% for itemB in backend %}
                                    <li><i class="fas fa-check"></i><span>{{ itemB.skill }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {# Other Skills #}
                {% if tools != [] %}
                    <div class="skills-card bg-white">
                        <div class="logo">
                            <img src="{{ asset("/content/images/svg/tools.svg") }}" alt="" />
                        </div>

                        <div class="skills">
                            <h5 class="title txt-center">Tools</h5>
                            <ul>
                                {% for itemT in tools %}
                                    <li><i class="fas fa-check"></i><span>{{ itemT.skill }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {# Experience #}
    <section class="aboutMe-experience">
        <div class="wrapper">

            <header class="section-header">
                <h3>Expériences</h3>
            </header>

            <div class="experiences">
                {% for experience in latestExperience %}
                    <div class="experience-card">
                        <div class="card-body">
                            <span class="icon"></span>
                            
                            <div class="job">
                                {{ experience.name }} &minus; <a class="organisation" href="#freelance" target="_blank" rel="noreferrer">{{ experience.corporationName }}</a>
                            </div>
                            <div class="date">
                                {{ experience.startDate|date("M Y") }} to {{ experience.endDate|date("M Y", "Europe/Paris") }}
                            </div>
                            
                            <div class="desc">
                                <p>{{ experience.description }}</p>
                            </div>
                            
                            {% if experience.skills|length > 0 %}
                                <div class="tools">
                                    <h3>Outils utilisés :</h3>
                                    
                                    <div>
                                        {% set skillsCounter = 1 %}
                                        {% for item in experience.skills %}
                                            <span>{{ item.skill }}</span>

                                            {% if skillsCounter < experience.skills|length %}
                                                &nbsp;|&nbsp;
                                            {% endif %}
                                            
                                            {% set skillsCounter = skillsCounter + 1 %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {% if experience.participateProjects|length > 0 %}
                                <div class="projects">
                                    <h3>Projets participés :</h3>
                                    
                                    <div>
                                        {% set experienceCounter = 1 %}
                                        {% for i, item in experience.participateProjects %}
                                            <a href="{{ item.link != null ? item.link : "#" }}" target="_blank" rel="noreferrer">{{ item.title }}</a>
                                            
                                            {% if experienceCounter < experience.participateProjects|length %}
                                                &nbsp;|&nbsp;
                                            {% endif %}
                                            
                                            {% set experienceCounter = experienceCounter + 1 %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="notification information">
                        <div class="icon">
                            <img src="{{ asset("/content/images/svg/informationmark-gray.svg") }}" alt="icon" />
                        </div>
                        
                        <div class="message">
                            <span>Cette section est pour le moment vide. Je vous invite vivement à vous dirigez vers mon espace <a class="bold-green" href="https://github.com/GaryDelgadoDeAlmeida" target="__blank">GitHub<a></span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {# Latest Project #}
    <section class="aboutMe-project">
        <div class="wrapper">
            <header class="section-header">
                <h3>Derniers projets</h3>
            </header>

            {% if lastestProject != [] %}
                <div class="overlay-row">
                    {% for item in lastestProject %}
                        <div class="overlay-card">
                            <div class="overlay-image">
                                <a href="{{ item.githubLink }}" target="_blank" rel="noreferrer">
                                    <img class="image" src="{{ asset(item.imgPath) }}" alt="{{ item.name }}"/>
                                    <div class="hover">
                                        <div class="text">
                                            <h3 class="project-title">{{ item.name }}</h3>
                                            <span class="project-small-text">{{ item.type }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="notification information">
                    <div class="icon">
                        <img src="{{ asset("/content/images/svg/informationmark-gray.svg") }}" alt="icon" />
                    </div>
                    
                    <div class="message">
                        <span>Cette section est pour le moment vide. Je vous invite vivement à vous dirigez vers mon espace <a class="bold-green" href="https://github.com/GaryDelgadoDeAlmeida" target="__blank">GitHub<a></span>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    {# Client comment #}
    <section class="aboutMe-witness"></section>
</section>
{% endblock %}