{% extends 'baseUser.html.twig' %}

{% block body %}

<section class="about">

    {# Profile #}
    <section class="aboutMe-intro">
        <div class="wrapper">
            <div class="intro">
                <div class="aboutMe-intro-img txt-center">
                    <img onContextMenu="return false;" src="{{ asset("/content/images/me.jpg") }}" alt="" />
                </div>
                <div class="aboutMe-intro-intro">
                    <span>Salut, mon nom est</span>
                    <h2>Garry ALMEIDA</h2>
                    <p>Je suis un jeune développeur très friand de savoir et de connaissance, de nouvelle technique de developpement et de l'apprentissage des nouvelles technologies.</p>
                    <div class="aboutMe-intro-intro-button">
                        <a href="/contact"><button class="btn btn-outline-white btn-rounded">Contactez-moi !</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Skills #}
    <section class="aboutMe-skills">
        <div class="wrapper">
            <header class="section-header">
                <h3>Skills</h3>
                <p class="text-muted">
                    <small>Mes compétences sont divers et variées dans le domaine de la programmation informatique</small>
                </p>
            </header>

            <div class="skills-content">

                {# FrontEnd Skills #}
                <div class="skills-card bg-white">
                    <div class="logo">
                        <img src="{{ asset("/content/images/svg/code.svg") }}" alt="" />
                    </div>

                    <div class="skills">
                        <h5 class="title txt-center">Frontend</h5>
                        <ul>
                            <li><i class="fas fa-check"></i><span>HTML / CSS</span></li>
                            <li><i class="fas fa-check"></i><span>JavaScript</span></li>
                            <li><i class="fas fa-check"></i><span>C# WinForm</span></li>
                        </ul>
                    </div>
                </div>

                {# BackEnd Skills #}
                <div class="skills-card bg-white">
                    <div class="logo">
                        <img src="{{ asset("/content/images/svg/database.svg") }}" alt="" />
                    </div>

                    <div class="skills">
                        <h5 class="title txt-center">Backend</h5>
                        <ul>
                            <li><i class="fas fa-check"></i><span>C#</span></li>
                            <li><i class="fas fa-check"></i><span>Java</span></li>
                            <li><i class="fas fa-check"></i><span>PHP7</span></li>
                            <li><i class="fas fa-check"></i><span>SQL / MySQL</span></li>
                            <li><i class="fas fa-check"></i><span>Python</span></li>
                        </ul>
                    </div>
                </div>

                {# Other Skills #}
                <div class="skills-card bg-white">
                    <div class="logo">
                        <img src="{{ asset("/content/images/svg/tools.svg") }}" alt="" />
                    </div>

                    <div class="skills">
                        <h5 class="title txt-center">Other</h5>
                        <ul>
                            <li><i class="fas fa-check"></i><span>Symfony 3/4</span></li>
                            <li><i class="fas fa-check"></i><span>React / React Native</span></li>
                            <li><i class="fas fa-check"></i><span>Wordpress</span></li>
                            <li><i class="fas fa-check"></i><span>.Net Framework</span></li>
                            <li><i class="fas fa-check"></i><span>Entity Framework</span></li>
                            <li><i class="fas fa-check"></i><span>Bunifu Framework</span></li>
                            <li><i class="fas fa-check"></i><span>MongoDB / Redis</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Latest Project #}
    <section class="aboutMe-project">
        <div class="wrapper">
            <header class="section-header">
                <h3>Latest Project</h3>
            </header>

            {% if lastestProject != [] %}
                <div class="overlay-row">
                    {% for item in lastestProject %}
                        <div class="overlay-card">
                            <div class="overlay-image">
                                <a href="{{ item.link }}" target="_blank" rel="noreferrer">
                                    <img class="image" src="{{ asset(item.image) }}" alt="{{ item.title }}"/>
                                    <div class="hover">
                                        <div class="text">
                                            <h3 class="project-title">{{ item.title }}</h3>
                                            <span class="project-small-text">{{ item.type }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-information">
                    <span>Cette section est pour le moment vide. Je vous invite vivement à vous dirigez vers mon espace GitHub</span>
                </div>
            {% endif %}
        </div>
    </section>
</section>
{% endblock %}