{% extends 'baseUser.html.twig' %}

{% block body %}
<section class="contact">
    <div class="wrapper">
        <header class="section-header">
            <h3>Contactez-moi !</h3>
        </header>

        <div class="contact-info">
            <div class="contact-card">
                <div class="contact-info-email">
                    <img src="{{ asset("/content/images/svg/enveloppe.svg") }}" alt="" />
                    <h3>Email</h3>
                    <p>gary.almeida.work@gmail.com</p>
                </div>
            </div>

            <div class="contact-card">
                <div class="contact-info-phone">
                    <img src="{{ asset("/content/images/svg/phone.svg") }}" alt="" />
                    <h3>Télephone</h3>
                    <p>+33 6 52 07 39 97</p>
                </div>
            </div>

            <div class="contact-card">
                <div class="contact-info-addr">
                    <img src="{{ asset("/content/images/svg/map-marker.svg") }}" alt="" />
                    <h3>Adresse</h3>
                    <address>189 rue vercingétorix, Paris 75014</address>
                </div>
            </div>
        </div>

        <div class="contact-info-social-link">
            <div class="social-link">
                <li class="linkedIn">
                    <a href="https://www.linkedin.com/in/garry-almeida-7538b3175/" target="_blank" rel="noreferrer">
                        <img src="{{ asset("/content/images/svg/linkedin.svg") }}" alt="" />
                    </a>
                </li>
                <li class="whatsApp">
                    <a href="whatsapp://+33678895032">
                        <img src="{{ asset("/content/images/svg/whatsapp.svg") }}" alt="" />
                    </a>
                </li>
                <li class="gmail">
                    <a href="mailto:gary.almeida.work@gmail.com">
                        <img src="{{ asset("/content/images/svg/google-plus.svg") }}" alt="" />
                    </a>
                </li>
                <li class="skype">
                    <a href="skype://gary.almeida.sio@gmail.com">
                        <img src="{{ asset("/content/images/svg/skype.svg") }}" alt="" />
                    </a>
                </li>
                <li class="github">
                    <a href="https://github.com/GaryDelgadoDeAlmeida" target="_blank" rel="noreferrer">
                        <img src="{{ asset("/content/images/svg/github.svg") }}" alt="" />
                    </a>
                </li>
            </div>	
        </div>

        <div class="form"}>
            {# Message d'après l'envoi #}
            {% if response != [] %}
                <div class="alert {{ response.answer == true ? "alert-success" : "alert-danger" }}">
                    <span>{{ response.content }}</span>
                </div>
                <div>&nbsp;</div>
            {% endif %}
            
            {# Formulaire de contact par email #}
            {{ form_start(contactForm, {"attr": {"class": "contact-form", "autoComplete": "off"}}) }}
                <div class="form-text">
                    {{ form_widget(contactForm.senderFullName) }}
                </div>
                <div class="form-text">
                    {{ form_widget(contactForm.senderEmail) }}
                </div>					
                <div class="form-text">
                    {{ form_widget(contactForm.emailSubject) }}
                </div>
                <div class="form-text">
                    {{ form_widget(contactForm.emailContent) }}
                </div>
                <div class="form-button txt-center">
                    {{ form_widget(contactForm.submit, {"attr": {"class": "btn btn-green w-150px"}}) }}
                </div>
            {{ form_end(contactForm, {"attr": {"class": "contact-form", "autoComplete": "off"}}) }}
        </div>
    </div>
</section>
{% endblock %}