{% import "./module/notification.html.twig" as module %}
{% extends 'baseUser.html.twig' %}

{% block page_content %}
    
    {# Home #}
    <div class="page-home">
        <div class="home-content">
            <h2 class="sup-title">{{ user.getFullname() }}</h2>
            <h1 class="main-title txt-uppercase">Développeur web indépendant<br/>PHP / Symfony</h1>
        </div>
    </div>

    {# Introduction #}
    <div class="aboutMe-intro">
        <div class="page-wrapper">
            <div class="intro">
                <div class="aboutMe-intro-img txt-center">
                    <img src="{{ asset(user.imgPath) }}" alt="" />
                </div>
                <div class="aboutMe-intro-intro">
                    <span>Bonjour ! Je m'appelle</span>
                    <h2>{{ user.getFullname() }}</h2>
                    <p>{{ user.description }}</p>
                </div>
            </div>
        </div>
    </div>

    {# Service #}
    <div id="services" class="page-wrapper">
        <div class="page-header">
            <h3>Mes Services</h3>
        </div>

        <div class="services">
            <div class="service">
                <div class="logo">
                    <img src="{{ asset("/content/images/svg/desktop-mobile.svg") }}" alt="Gestion de projet" />
                </div>
                <h3 class="title">Gestion de projet</h3>
                <p>Site vitrine, plateforme e-commerce, application mobile</p>
            </div>
            
            <div class="service">
                <div class="logo">
                    <img src="{{ asset("/content/images/svg/code.svg") }}" alt="Intégration web" />
                </div>
                <h3 class="title">Intégration web</h3>
                <p>Intégration HTML / CSS respectueuses des standards du web pour un référencement naturel</p>
            </div>
            
            <div class="service">
                <div class="logo">
                    <img src="{{ asset("/content/images/svg/code.svg") }}" alt="Développements spécifiques" />
                </div>
                <h3 class="title">Développements spécifiques</h3>
                <p>Des outils adaptés à vos besoins et à votre coeur de métier</p>
            </div>

            <div class="service">
                <div class="logo">
                    <img src="{{ asset("/content/images/svg/desktop-mobile.svg") }}" alt="Interface d'administration" />
                </div>
                <h3 class="title">Interface d'administration</h3>
                <p>Système de gestion de contenu personnalisé</p>
            </div>

            <div class="service">
                <div class="logo">
                    <img src="{{ asset("/content/images/svg/desktop-mobile.svg") }}" alt="Responsive Design" />
                </div>
                <h3 class="title">Responsive Design</h3>
                <p>Site web compatible tous supports (desktop, tablette et mobile)</p>
            </div>

            <div class="service">
                <div class="logo">
                    <img src="{{ asset("/content/images/svg/desktop-mobile.svg") }}" alt="Référencement naturel" />
                </div>
                <h3 class="title">Référencement naturel</h3>
                <p>Affichage sémantique des informations, des pages propres pour un référencement optimal</p>
            </div>
        </div>
    </div>

    {# Skills #}
    <div id="skills" class="page-wrapper">
        <div class="page-header">
            <h3>Compétences</h3>
        </div>

        <div class="skills-content">

            {% for categery, skills in skillCategories %}
                {% set icon = "" %}

                {% if categery is same as("frontend") %}
                    {% set icon = "/content/images/svg/code-white.svg" %}
                {% elseif categery is same as("backend") %}
                    {% set icon = "/content/images/svg/database.svg" %}
                {% elseif categery is same as("tools") %}
                    {% set icon = "/content/images/svg/tools.svg" %}
                {% endif %}

                <div class="skills-card bg-white">
                    <div class="logo">
                        <img src="{{ asset(icon) }}" alt="" />
                    </div>

                    <div class="skills">
                        <h5 class="title txt-center">{{ categery|capitalize }}</h5>

                        {% if skills is not same as([]) %}
                            <ul>
                                {% for skill in skills %}
                                    <li><i class="fas fa-check"></i><span>{{ skill.skill }}</span></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# Experience => Should I conserve this part ? #}
    <div id="formation" class="page-wrapper">
        <div class="page-header">
            <h3>Expériences</h3>
        </div>

        {# Experience Pro #}
        {% if educations is not same as([]) %}
            {# https://creano.paris/ #}
            {# https://www.ffgolf.org/ #}

            <div class="experiences">
                {% for education in educations %}
                    <div class="experience-card">
                        <div class="card-body">
                            <span class="icon"></span>

                            <div class="job">
                                {{ education.name }} &minus; <a class="organisation" href="{{ education.corporationSite }}" target="_blank" rel="noreferrer">{{ education.corporationName }}</a>
                            </div>
                            <div class="date">
                                {{ education.startDate|date("M Y", "Europe/Paris") }} à {% if education.inProgress %} En cours {% else %} {{ education.endDate|date("M Y", "Europe/Paris") }} {% endif %} &minus; <span class="contract-type">{{ education.contractType|trans }}</span>
                            </div>
                            <div>
                                {% if education.description is not same as("") %}
                                    <ul>
                                        {% for description in education.description|split("\r\n") %}
                                            <li>{{ description }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="tools">
                                <h3>Outils utilisés :</h3>
                                
                                {% if education.skills is not same as([]) %}
                                    <div class="badge-list mt-10px">
                                        {% for index, skill in education.skills %}
                                            <span class="badge badge-primary">{{ skill.skill }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="projects">
                                <h3>Projets participés :</h3>
                                
                                {% if education.participateProjects is not same as([]) %}
                                    <div>
                                        {% for index, project in education.participateProjects %}
                                            <a href="{{ project.link }}" target="_blank" rel="noreferrer">{{ project.title }}</a>
                                            
                                            {% if education.participateProjects|length > index + 1 %}
                                                &nbsp;|&nbsp;
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {{ module.notitication("information", "Cette section est pour le moment vide. Je vous invite vivement à vous dirigez vers mon espace GitHub") }}
        {% endif %}
    </div>

    {# Latest Project #}
    <div id="portfolio" class="page-wrapper">
        <div class="page-header">
            <h3>Mes projets</h3>
        </div>

        {% if portfolios is not same as([]) %}
            <div class="overlay-row">
                {% for portfolio in portfolios %}
                    <div class="overlay-card">
                        <div class="overlay-image">
                            <a href="{{ portfolio.link }}" target="_blank" rel="noreferrer">
                                <img class="image" src="{{ asset(portfolio.image) }}" alt="{{ portfolio.title }}"/>
                                <div class="hover">
                                    <div class="text">
                                        <h3 class="project-title">{{ portfolio.title }}</h3>
                                        <span class="project-small-text">{{ portfolio.type }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="page-button">
                <a class="btn -inline-flex btn-primary" href="{{ path("portfolio") }}">
                    <span>Tout voir</span>
                    <img src="{{ asset("/content/images/svg/arrow-right-white.svg") }}" alt="" />
                </a>
            </div>
        {% else %}
            {{ module.notitication("information", "Cette section est pour le moment vide. Je vous invite vivement à vous dirigez vers mon espace GitHub") }}
        {% endif %}
    </div>

    {# Services Price #}
    <div id="price" class="page-wrapper">
        <div class="page-header">
            <h3>Tarifs</h3>
        </div>

        <div class="card-list">
            
            <div class="card-price">
                <div class="-type">
                    <span class="-title txt-uppercase">Site vitrine personnalisé</span>
                </div>
                <div class="-price">
                    <span class="-small-title">A partir de</span>
                    <span><em class="-title">4000</em> € (HT)</span>
                </div>
                <div class="-description">
                    <ul class="list">
                        <li>
                            Développements sur-mesure
                            <span class="small-text">(entièrement fait à la main)</span>
                        </li>
                        <li>
                            Charte graphique à partir d'une maquette
                            <span class="small-text">(Outils : <a href="https://www.figma.com/" target="_blank">Figma</a>)</span>
                        </li>
                        <li>Palette de couleur</li>
                        <li>Interface administrateur</li>
                        <li>Site responsive</li>
                        <li>Mise en place du contenu</li>
                        <li>Formulaire de contact</li>
                        <li>Mise en ligne du site</li>
                    </ul>

                    <div class="links">
                        <a href="#contactme" class="btn btn-primary">Demander un devis</a>
                    </div>
                </div>
            </div>
            
            <div class="card-price">
                <div class="-type">
                    <span class="-title txt-uppercase">Site ecommerce personnalisé</span>
                </div>
                <div class="-price">
                    <span class="-small-title">A partir de</span>
                    <span><em class="-title">5000</em> € (HT)</span>
                </div>
                <div class="-description">
                    <ul class="list">
                        <li>
                            Développements sur-mesure
                            <span class="small-text">(entièrement fait à la main)</span>
                        </li>
                        <li>
                            Symfony
                            <span class="small-text">(outil de développement)</span>
                        </li>
                        <li>
                            Charte graphique à partir d'une maquette
                            <span class="small-text">(Outils : <a href="https://www.figma.com/" target="_blank">Figma</a>)</span>
                        </li>
                        <li>Palette de couleur</li>
                        <li>Interface administrateur</li>
                        <li>Site responsive</li>
                        <li>Mise en place du contenu</li>
                        <li>Formulaire de contact</li>
                        <li>Mise en ligne du site</li>
                        <li>
                            Statistiques
                            <span class="small-text">(visites, produits les plus achetés, etc ...)</span>
                        </li>
                    </ul>
                    
                    <div class="links">
                        <a href="#contactme" class="btn btn-primary">Demander un devis</a>
                    </div>
                </div>
            </div>

            <div class="d-flex-col">
                <div class="card-price w-100 h-100">
                    <div class="-type">
                        <span class="-title txt-uppercase">Développements spécifiques</span>
                    </div>
                    <div class="-price">
                        <span class="-small-title txt-uppercase">Tarif moyen journalier</span>
                        <span><em class="-title">350</em> € (HT)</span>
                    </div>
                    <div class="-description">
                        <div class="links">
                            <a href="#contactme" class="btn btn-primary">Me contacter</a>
                        </div>
                    </div>
                </div>

                <div class="card-price w-100 h-100">
                    <div class="-type">
                        <span class="-title txt-uppercase">Maintenance applicative</span>
                    </div>
                    <div class="-price">
                        <span class="-small-title txt-uppercase">Tarif à l'année</span>
                        <span><em class="-title">500</em> € (HT)</span>
                    </div>
                    <div class="-description">
                        <ul class="list">
                            <li>
                                Mise à jour de sécurité
                                <span class="small-text">(mise à jours des dépendances techniques)</span>
                            </li>
                            <li>Modification du contenu textuel</li>
                            <li>Modification graphique légère</li>
                            <li>Correction de bugs</li>
                        </ul>
                        <div class="links">
                            <a href="#contactme" class="btn btn-primary">Me contacter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Contact me #}
    <div id="contactme" class="page-wrapper">
        <div class="contact">
            
            <div class="page-header">
                <h3>Contactez-moi !</h3>
            </div>

            <div class="contact-info">

                <div class="contact-card">
                    <div class="contact-info-email">
                        <img src="{{ asset("/content/images/svg/enveloppe.svg") }}" alt="" />
                        <h3>Email</h3>
                        <p>{{ user.email }}</p>
                    </div>
                </div>

                <div class="contact-card">
                    <div class="contact-info-phone">
                        <img src="{{ asset("/content/images/svg/phone.svg") }}" alt="" />
                        <h3>Télephone</h3>
                        {# <p>+33 6 52 07 39 97</p> #}
                        <p>{{ user.phoneNumber|split("", 2)|join(' ') }}</p>
                    </div>
                </div>

                <div class="contact-card">
                    <div class="contact-info-addr">
                        <img src="{{ asset("/content/images/svg/map-marker.svg") }}" alt="" />
                        <h3>Adresse</h3>
                        <address>{{ user.address ~ ", " ~ user.city ~ " " ~ user.postalCode }}</address>
                    </div>
                </div>
            </div>                    

            <div class="contact-info-social-link">
                <div class="social-link">
                    <li class="linkedIn">
                        <a href="https://www.linkedin.com/in/garry-almeida-7538b3175/" target="_blank" rel="noreferrer">
                            <img src="{{ asset("/content/images/svg/linkedin.svg") }}" alt="" />
                        </a>
                    </li>
                    <li class="whatsApp">
                        <a href="whatsapp://+33678895032">
                            <img src="{{ asset("/content/images/svg/whatsapp.svg") }}" alt="" />
                        </a>
                    </li>
                    <li class="gmail">
                        <a href="mailto:gary.almeida.work@gmail.com">
                            <img src="{{ asset("/content/images/svg/google-plus.svg") }}" alt="" />
                        </a>
                    </li>
                    <li class="skype">
                        <a href="skype://gary.almeida.sio@gmail.com">
                            <img src="{{ asset("/content/images/svg/skype.svg") }}" alt="" />
                        </a>
                    </li>
                    <li class="github">
                        <a href="https://github.com/GaryDelgadoDeAlmeida" target="_blank" rel="noreferrer">
                            <img src="{{ asset("/content/images/svg/github.svg") }}" alt="" />
                        </a>
                    </li>
                </div>	
            </div>

            {# Contact Form to send me emails #}
            {{ form_start(contactForm, {"attr": {"class": "form contact-form"}, "autoComplete": "off", "method": "POST"}) }}
                <div class="form-text">
                    {{ form_widget(contactForm.senderFullName) }}
                </div>
                
                <div class="form-text">
                    {{ form_widget(contactForm.senderEmail) }}
                </div>
                
                <div class="form-text">
                    {{ form_widget(contactForm.emailSubject) }}
                </div>
                
                <div class="form-text">
                    {{ form_widget(contactForm.emailContent) }}
                </div>

                <div class="form-field">
                    <label for="captchat">{{ captchat.question }}</label>
                    <input 
                        id="captchat"
                        type="text" 
                        required
                    />
                </div>
                
                <div class="form-button txt-center">
                    {{ form_widget(contactForm.submit) }}
                </div>
            {{ form_end(contactForm) }}
        </div>
    </div>
{% endblock %}
