{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content">
        <div class="page-wrapper" style="height: 100vh; display: flex; padding: 0">
            <div class="card-login w-100">
                <div class="card-header">
                    <h2 class="card-title">Login</h2>
                </div>

                <div class="card-content">
                    {{ form_start(formLogin, {"attr": {"class": "login-form"}}) }}
                        <div class="form-field">
                            {{ form_label(formLogin.email) }}
                            {{ form_widget(formLogin.email) }}
                        </div>
                        <div class="form-field">
                            {{ form_label(formLogin.password) }}
                            {{ form_widget(formLogin.password) }}
                        </div>
                        <div class="form-button">
                            {{ form_widget(formLogin) }}
                        </div>
                    {{ form_end(formLogin) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
