{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content -login">
        <div class="page-wrapper -login">
            <div class="card-login">
                <div class="-left"></div>
                
                <div class="-right">
                    <h2 class="title">Sign in</h2>
                    
                    {{ form_start(formLogin, {"attr": {"class": "login-form"}}) }}
                        <div class="form-field">
                            {{ form_label(formLogin.email) }}
                            {{ form_widget(formLogin.email) }}
                        </div>
                        <div class="form-field">
                            {{ form_label(formLogin.password) }}
                            {{ form_widget(formLogin.password) }}
                        </div>
                        <div class="form-button">
                            {{ form_widget(formLogin) }}
                        </div>
                    {{ form_end(formLogin) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
