{% extends 'baseUser.html.twig' %}

{% block body %}
<section class="login containerBody">
    <div class="container">
        <div class="card">
            <div class="card-header">Login</div>

            {{ form_start(formLogin, {'action' : path('login'), 'method': 'POST'})}}
                <div class="card-body row">
                    <div class="form-group col-lg-12 col-md-12 wow fadeInUp animated">
                        {{ form_label(formLogin.email) }}
                        {{ form_widget(formLogin.email) }}
                    </div>
                    <div class="form-group col-lg-12 col-md-12 wow fadeInUp animated">
                        {{ form_label(formLogin.password) }}
                        {{ form_widget(formLogin.password) }}
                    </div>

                    <div class="form-group col-lg-12 col-md-12 wow fadeInUp animated">
                        {{ form_widget(formLogin.submit, {'attr': {'class': 'btn btn-outline-success'}}) }}
                    </div>
                </div>
            {{ form_end(formLogin, {'action' : path('login'), 'method': 'POST'})}}
        </div>
    </div>
</section>
{% endblock %}
