{% extends 'baseUser.html.twig' %}
{% import "./module/notification.html.twig" as macros %}

{% block page_content %}
    <div class="portfolio">
        <div class="page-wrapper">
            <div class="page-header">
                <h3>Mes projets</h3>
            </div>

            {% if portfolio != [] %}
                <div class="overlay-row">
                    {% for item in portfolio %}
                        <div class="overlay-card" >
                            <div class="overlay-image">
                                {# <a href="{{ item.siteLink }}" target="_blank" rel="noreferrer"> #}
                                <a href="{{ path("single_portfolio", {portfolioID: item.id}) }}">
                                    <img class="image" src="{{ asset(file_exist(item.imgPath)) }}" alt="{{ item.name }}"/>
                                    <div class="hover">
                                        <div class="text">
                                            <h3 class="project-title">{{ item.name }}</h3>
                                            <span class="project-small-text">{{ item.type }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if offset >= 1 and offset <= total_page %}
                    <div class="pagination">
                        {% if offset - 1 >= 1 %}
                            <div>
                                <a href="{{ path("portfolio") }}"><<</a>
                            </div>
                            <div>
                                <a href="{{ path("portfolioPage", {"page": offset - 1}) }}">{{offset - 1}}</a>
                            </div>
                        {% endif %}

                        <div class="current-page">
                            <span>{{ offset }}</span>
                        </div>

                        {% if offset + 1 <= total_page %}
                            <div>
                                <a href="{{ path("portfolioPage", {"page": offset + 1}) }}">{{offset + 1}}</a>
                            </div>
                            <div>
                                <a href="{{ path("portfolioPage", {"page": total_page}) }}">>></a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                {{ macros.notification("information", "Cette section est pour le moment vide. Je vous invite vivement à vous dirigez vers mon espace <a class=\"bold-green\" href=\"https://github.com/GaryDelgadoDeAlmeida\" target=\"__blank\">GitHub<a>") }}
            {% endif %}
        </div>
    </div>
{% endblock %}