{% extends 'baseUser.html.twig' %}

{% block body %}
<section class="portfolio">
    <div class="wrapper">
        <div class="section-header">
            <h3>Mon PortFolio</h3>
        </div>

        {% if portfolio != [] %}
            <div class="overlay-row">
                {% for item in portfolio %}
                    <div class="overlay-card" >
                        <div class="overlay-image">
                            <a href="{{ item.link }}" target="_blank" rel="noreferrer">
                                <img class="image"} src="{{ asset(item.image) }}" alt="{{ item.title }}"/>
                                <div class="hover">
                                    <div class="text">
                                        <h3 class="project-title">{{ item.title }}</h3>
                                        <span class="project-small-text">{{ item.type }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="pagination">
                <div>
                    <a href=""><<</a>
                </div>
                <div>
                    <a href=""><</a>
                </div>
                <div>
                    <a href="">1</a>
                </div>
                <div class="current-page">
                    <a href="">2</a>
                </div>
                <div>
                    <a href="">3</a>
                </div>
                <div>
                    <a href="">></a>
                </div>
                <div>
                    <a href="">>></a>
                </div>
            </div>
        {% else %}
            <div class="alert alert-information">
                <span>Cette section est pour le moment vide. Je vous invite vivement à vous dirigez vers mon espace <a class="bold-green" href="https://github.com/GaryDelgadoDeAlmeida" target="__blank">GitHub<a></span>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}