{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <table class="table table-striped table-condensed">
        <tbody>
            {% if list_mail != null %}
                {% for mail in list_mail %}
                    <tr {% if mail.isRead == false %} style="background-color: cyan;" {% endif %}> {# Temporary Style for better front #}
                        <td>{{ mail.senderFullName }}</td>
                        <td class="text-right"><a href="{{ path('adminReadMail', {'id': mail.id}) }}"><i class="fas fa-arrow-circle-right"></i></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center">Il n'y a aucun mail envoyé depuis le portfolio</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {# {% include 'Pagination/index.html.twig' %} #}
    {% if offset < total_page %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if offset == 1 %} disabled {% endif %}">
                    <a class="page-link" href="{{ path("adminContact") }}" tabindex="-1" aria-disabled="true">First</a>
                </li>
                
                {% if offset - 1 >= 1  %}
                    <li class="page-item"><a class="page-link" href="{{ path("adminContactByPage", {'page': (offset - 1)}) }}">{{ offset - 1 }}</a></li>
                {% endif %}

                <li class="page-item"><a class="page-link" >{{ offset }}</a></li>

                {% if offset + 1 <= total_page  %}
                    <li class="page-item"><a class="page-link" href="{{ path("adminContactByPage", {'page': (offset + 1)}) }}">{{ offset + 1 }}</a></li>
                {% endif %}

                <li class="page-item {% if offset == total_page %} disabled {% endif %}">
                    <a class="page-link" href="{{ path("adminContactByPage", {'page': (total_page)}) }}">Last</a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}