{% trans_default_domain 'user' %}
{% extends 'baseAdmin.html.twig' %}

{% block page_content %}
    <a class="btn btn-red" href="{{ path("admin_contact_remove_all") }}">Remove all contact</a>

    <div class="admin-email mt-25px">
        <div class="emails">
            <table class="table">
                <thead>
                    <tr>
                        <th>Object</th>
                        <th>Content</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if list_mail != null %}
                        {% for mail in list_mail %}
                            <tr class="email-card {{ mail.isRead == false ? "unread" : "" }}">
                                <td>{{ mail.emailSubject }}</td>
                                <td>{{ mail.emailContent|slice(0, 100) }}</td>
                                <td>{{ mail.createdAt|date("d/m/Y") }}</td>
                                <td>
                                    <a href="{{ path('admin_contact_show', {'id': mail.id}) }}">
                                        <img src="{{ asset("/content/images/svg/eye.svg") }}" alt="See more" />
                                    </a>
                                    <button class="removeMail" data-url="{{ path("admin_contact_remove", {'id': mail.id}) }}">
                                        <img src="{{ asset("/content/images/svg/trash.svg") }}" alt="Delete" />
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="-message txt-center">{{ "contact.no_contact"|trans }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        {% if offset < total_page  %}
            <div class="pagination">
                <div class="first-page">
                    <a href="{{ path("admin_contact_index") }}"><img src="{{ asset("/content/images/svg/double-angle-left.svg") }}" alt={"double-angle-left"} /></a>
                </div>
                
                {% if offset - 1 >= 1  %}
                    <div class="previous-page">
                        <a href="{{ path("admin_contact_by_page", {'page': (offset - 1)}) }}">{{ offset - 1 }}</a>
                    </div>
                {% endif %}

                <div class="current-page">
                    <span>{{ offset }}</span>
                </div>
                
                {% if offset + 1 <= total_page  %}
                    <div class="next-page">
                        <a href="{{ path("admin_contact_by_page", {'page': (offset + 1)}) }}">{{ offset + 1 }}</a>
                    </div>
                {% endif %}
                
                <div class="last-page">
                    <a href="{{ path("admin_contact_by_page", {'page': (total_page)}) }}"><img src="{{ asset("/content/images/svg/double-angle-right.svg") }}" alt={"double-angle-right"} /></a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}