{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="admin-email">
        <h1>Inbox</h1>

        <div class="emails">
            {% if list_mail != null %}
                {% for mail in list_mail %}
                    <div class="email-card {{ mail.isRead == false ? "unread" : "" }}">
                        <a href="{{ path('adminReadMail', {'id': mail.id}) }}">
                            <div class="email-object">
                                <span>Job offer</span>
                                <span>{{ mail.senderFullName }}</span>
                            </div>
                            <div class="email-content">
                                <span>Avec le générateur de texte online vous pouvez composer votre Lorem Ipsum personnel, en l’enrichissant...</span>
                            </div>
                            <div class="email-date">
                                <span>14:20</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    <span class="text-center">Il n'y a aucun mail envoyé depuis le portfolio</span>
                </div>
            {% endif %}
        </div>

        {% if offset < total_page  %}
            <div class="pagination">
                <div class="first-page">
                    <a href="{{ path("adminContact") }}"><img src="{{ asset("/content/images/svg/double-angle-left.svg") }}" alt={"double-angle-left"} /></a>
                </div>
                
                {% if offset - 1 >= 1  %}
                    <div class="previous-page">
                        <a href="{{ path("adminContactByPage", {'page': (offset - 1)}) }}">{{ offset - 1 }}</a>
                    </div>
                {% endif %}

                <div class="current-page">
                    <span>{{ offset }}</span>
                </div>
                
                {% if offset + 1 <= total_page  %}
                    <div class="next-page">
                        <a href="{{ path("adminContactByPage", {'page': (offset + 1)}) }}">{{ offset + 1 }}</a>
                    </div>
                {% endif %}
                
                <div class="last-page">
                    <a href="{{ path("adminContactByPage", {'page': (total_page)}) }}"><img src="{{ asset("/content/images/svg/double-angle-right.svg") }}" alt={"double-angle-right"} /></a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}