{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="admin-email-single">
        <a href="{{ path('adminContact') }}">
            <button class="btn btn-primary">
                <span>Return</span>
            </button>
        </a>
        
        <div class="email-single">
            <div class="sender">
                <div class="avatar">
                    <img src="{{ asset("/content/images/me.jpg") }}" alt="" />
                </div>
                
                <div class="info">
                    <span><b>{{ mail.senderFullName }}</b> ({{ mail.senderEmail }})</span>
                    <span>{{ mail.createdAt|date("d/m/Y") }}</span>
                </div>

                <div class="actions">
                    <a href="{{ path("adminRemoveMail", {"id": mail.id}) }}"><img src="{{ asset("/content/images/svg/trash.svg") }}" alt="trash" /></a>
                </div>
            </div>

            <div class="object">
                <h3>Object : {{ mail.emailSubject}}</h3>
            </div>
            
            <div class="content">
                <p>{{ mail.emailContent }}</p>
            </div>
        </div>
    </div>
{% endblock %}