{% extends 'baseAdmin.html.twig' %}
{% trans_default_domain 'user' %}
{% import "./module/notification.html.twig" as module %}

{% block page_content %}
    <div class="admin-profile">
        <div class="profile">
            <div class="profile-image">
                <div class="profile-item">
                    <label for="profile_admin_imgPath">
                        <img src="{{ asset(file_exist(user.imgPath, "/content/profile/avatar.png")) }}" alt="" />
                    </label>
                    <p>
                        <span class="firstname">{{ user.firstname }}</span>
                        <span class="lastname">{{ user.lastname }}</span>
                    </p>
                </div>

                <div class="profile-item">
                    <div class="update-password-form">
                        {% if updatePwdMessage != null %}
                            {{ module.notification(updatePwdMessage.class, updatePwdMessage.message) }}
                        {% endif %}

                        {{ form_start(pwdForm, {"attr": {"class": "update-password-form"}, "method": "POST"}) }}
                            <div class="form-field">
                                {{ form_label(pwdForm.oldPassword, "profile.password"|trans) }}
                                {{ form_widget(pwdForm.oldPassword) }}
                            </div>
                            <div class="form-field">
                                {{ form_label(pwdForm.newPassword, "profile.new_password"|trans) }}
                                {{ form_widget(pwdForm.newPassword) }}
                            </div>
                            <div class="form-field">
                                {{ form_label(pwdForm.confirmNewPassword, "profile.password_confirmation"|trans) }}
                                {{ form_widget(pwdForm.confirmNewPassword) }}
                            </div>
                            <div class="form-button">
                                {{ form_widget(pwdForm.submit) }}
                            </div>
                        {{ form_end(pwdForm) }}
                    </div>
                </div>
            </div>

            <div class="profile-infos">
                <div class="profile-item">
                    {% if response != [] %}
                        {{ module.notification(response.class, response.message) }}
                    {% endif %}
                    
                    {{ form_start(form, {"attr": {"class": "profile-form"}, 'method': 'POST'}) }}
                        <div class="form-field">
                            {{ form_label(form.firstName, "profile.firstname"|trans) }}
                            {{ form_widget(form.firstName) }}
                        </div>
                        
                        <div class="form-field">
                            {{ form_label(form.lastName, "profile.lastname"|trans) }}
                            {{ form_widget(form.lastName) }}
                        </div>
                        
                        <div class="form-field">
                            {{ form_label(form.email, "profile.email"|trans) }}
                            {{ form_widget(form.email) }}
                        </div>
                        
                        <div class="form-field">
                            {{ form_label(form.phoneNumber, "profile.phone"|trans) }}
                            {{ form_widget(form.phoneNumber) }}
                        </div>
                        
                        <div class="form-field">
                            {{ form_label(form.address, "profile.address"|trans) }}
                            {{ form_widget(form.address) }}
                        </div>
                        
                        <div class="form-field">
                            {{ form_label(form.city, "profile.city"|trans) }}
                            {{ form_widget(form.city) }}
                        </div>
                        
                        <div class="form-field">
                            {{ form_label(form.postalCode, "profile.zip_code"|trans) }}
                            {{ form_widget(form.postalCode) }}
                        </div>
                        
                        <div class="form-field">
                            {{ form_label(form.description, "profile.introduction"|trans) }}
                            {{ form_widget(form.description) }}
                        </div>

                        <div class="form-button">
                            {{ form_widget(form.submit, {"attr": {"class": "btn btn-primary"}}) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
