{% extends 'baseAdmin.html.twig' %}
{% import "./module/notification.html.twig" as module %}

{% block page_content %}
    <div class="admin-skills">
        {% if response != [] %}
            {{ module.notification(response.class, response.content) }}
        {% endif %}

        <div class="skills">
            <div class="skills-onglet">
                <ul>
                    <a href="{{ path("admin_skill_index", {"print": "frontend"}) }}"><li class="{{ print == "frontend" ? "active" : "" }}">Frontend</li></a>
                    <a href="{{ path("admin_skill_index", {"print": "backend"}) }}"><li class="{{ print == "backend" ? "active" : "" }}">Backend</li></a>
                    <a href="{{ path("admin_skill_index", {"print": "tools"}) }}"><li class="{{ print == "tools" ? "active" : "" }}">Tools</li></a>
                </ul>
            </div>
            
            <div class="skills-box">

                {# Frontend #}
                {% if print == "frontend" %}
                    <div class="skill-wrapper">
                        <div class="skill-card">
                            {% for item in skills %}
                                <div class="skill-item">
                                    <div class="item">
                                        <span>{{ item.skill }}</span>
                                    </div>
                                    <a class="item-action" href="{{ path("admin_skill_remove", {"id": item.id}) }}">
                                        <img src="{{ asset("/content/images/svg/trash.svg") }}" alt="" />
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                        {{ form_start(formSkills, {"attr": {"class": "form -inline-form"}}) }}
                            {{ form_widget(formSkills.type) }}
                            {{ form_widget(formSkills.skill) }}
                            {{ form_widget(formSkills.submit) }}
                        {{ form_end(formSkills) }}
                    </div>
                {% endif %}
                
                {# Backend #}
                {% if print == "backend" %}
                    <div class="skill-wrapper">
                        <div class="skill-card">
                            {% for item in skills %}
                                <div class="skill-item">
                                    <div class="item">
                                        <span>{{ item.skill }}</span>
                                    </div>
                                    <a class="item-action" href="{{ path("admin_skill_remove", {"id": item.id}) }}">
                                        <img src="{{ asset("/content/images/svg/trash.svg") }}" alt="" />
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                        {{ form_start(formSkills, {"attr": {"class": "form -inline-form"}}) }}
                            {{ form_widget(formSkills.type) }}
                            {{ form_widget(formSkills.skill) }}
                            {{ form_widget(formSkills.submit) }}
                        {{ form_end(formSkills) }}
                    </div>
                {% endif %}
                
                {# Tools #}
                {% if print == "tools" %}
                    <div class="skill-wrapper">
                        <div class="skill-card">
                            {% for item in skills %}
                                <div class="skill-item">
                                    <div class="item">
                                        <span>{{ item.skill }}</span>
                                    </div>
                                    <a class="item-action" href="{{ path("admin_skill_remove", {"id": item.id}) }}">
                                        <img src="{{ asset("/content/images/svg/trash.svg") }}" alt="" />
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                        {{ form_start(formSkills, {"attr": {"class": "form -inline-form"}}) }}
                            {{ form_widget(formSkills.type) }}
                            {{ form_widget(formSkills.skill) }}
                            {{ form_widget(formSkills.submit) }}
                        {{ form_end(formSkills) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}